.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
}

.item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}
